<%- include('./partials/header') %>
    <div class="container-fluid">
        <div class="row text-center">
            <h1>Tabuadas</h1>
        </div>
        <div class="row text-center">
            <p>Escolha a tabuada que você deseja</p>
        </div>
    </div>

    <%- include('./partials/footer') %>